<div class="">
  <div class="aHl"></div>
  <div id=":nb" tabindex="-1"></div>
  <div
    id=":n0"
    class="ii gt"
    jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc2MzgxMzU4NzgxMDkzNzYxMyIsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsW11d; 4:WyIjbXNnLWY6MTc2MzgxMzU4NzgxMDkzNzYxMyIsbnVsbCxbXV0."
  >
    <div id=":mz" class="a3s aiL msg2929546499806747213">
      <u></u>

      <div
        style="
          box-sizing: border-box;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
            'Segoe UI Symbol';
          background-color: #ffffff;
          color: #718096;
          height: 100%;
          line-height: 1.4;
          margin: 0;
          padding: 0;
          width: 100% !important;
        "
      >
        <table
          width="100%"
          cellpadding="0"
          cellspacing="0"
          role="presentation"
          style="
            box-sizing: border-box;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
              Helvetica, Arial, sans-serif, 'Apple Color Emoji',
              'Segoe UI Emoji', 'Segoe UI Symbol';
            background-color: #edf2f7;
            margin: 0;
            padding: 0;
            width: 100%;
          "
        >
          <tbody>
            <tr>
              <td
                align="center"
                style="
                  box-sizing: border-box;
                  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
                    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
                    'Segoe UI Emoji', 'Segoe UI Symbol';
                "
              >
                <table
                  width="100%"
                  cellpadding="0"
                  cellspacing="0"
                  role="presentation"
                  style="
                    box-sizing: border-box;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
                      Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
                      'Segoe UI Emoji', 'Segoe UI Symbol';
                    margin: 0;
                    padding: 0;
                    width: 100%;
                  "
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          box-sizing: border-box;
                          font-family: -apple-system, BlinkMacSystemFont,
                            'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
                            'Apple Color Emoji', 'Segoe UI Emoji',
                            'Segoe UI Symbol';
                          padding: 25px 0;
                          text-align: center;
                        "
                      >
                        <a
                          href="https://animecix.net"
                          style="
                            box-sizing: border-box;
                            font-family: -apple-system, BlinkMacSystemFont,
                              'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
                              'Apple Color Emoji', 'Segoe UI Emoji',
                              'Segoe UI Symbol';
                            color: #3d4852;
                            font-size: 19px;
                            font-weight: bold;
                            text-decoration: none;
                            display: inline-block;
                          "
                          target="_blank"
                          data-saferedirecturl="https://www.google.com/url?q=https://animecix.net&amp;source=gmail&amp;ust=1689678483231000&amp;usg=AOvVaw291fGE315Y_Nr29yL3AA7D"
                        >
                          AnimeciX
                        </a>
                      </td>
                    </tr>

                    <tr>
                      <td
                        width="100%"
                        cellpadding="0"
                        cellspacing="0"
                        style="
                          box-sizing: border-box;
                          font-family: -apple-system, BlinkMacSystemFont,
                            'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
                            'Apple Color Emoji', 'Segoe UI Emoji',
                            'Segoe UI Symbol';
                          background-color: #edf2f7;
                          border-bottom: 1px solid #edf2f7;
                          border-top: 1px solid #edf2f7;
                          margin: 0;
                          padding: 0;
                          width: 100%;
                        "
                      >
                        <table
                          class="m_2929546499806747213inner-body"
                          align="center"
                          width="570"
                          cellpadding="0"
                          cellspacing="0"
                          role="presentation"
                          style="
                            box-sizing: border-box;
                            font-family: -apple-system, BlinkMacSystemFont,
                              'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
                              'Apple Color Emoji', 'Segoe UI Emoji',
                              'Segoe UI Symbol';
                            background-color: #ffffff;
                            border-color: #e8e5ef;
                            border-radius: 2px;
                            border-width: 1px;
                            margin: 0 auto;
                            padding: 0;
                            width: 570px;
                          "
                        >
                          <tbody>
                            <tr>
                              <td
                                style="
                                  box-sizing: border-box;
                                  font-family: -apple-system, BlinkMacSystemFont,
                                    'Segoe UI', Roboto, Helvetica, Arial,
                                    sans-serif, 'Apple Color Emoji',
                                    'Segoe UI Emoji', 'Segoe UI Symbol';
                                  max-width: 100vw;
                                  padding: 32px;
                                "
                              >
                                <h1
                                  style="
                                    box-sizing: border-box;
                                    font-family: -apple-system,
                                      BlinkMacSystemFont, 'Segoe UI', Roboto,
                                      Helvetica, Arial, sans-serif,
                                      'Apple Color Emoji', 'Segoe UI Emoji',
                                      'Segoe UI Symbol';
                                    color: #3d4852;
                                    font-size: 18px;
                                    font-weight: bold;
                                    margin-top: 0;
                                    text-align: left;
                                  "
                                >
                                  Merhaba!
                                </h1>
                                <p
                                  style="
                                    box-sizing: border-box;
                                    font-family: -apple-system,
                                      BlinkMacSystemFont, 'Segoe UI', Roboto,
                                      Helvetica, Arial, sans-serif,
                                      'Apple Color Emoji', 'Segoe UI Emoji',
                                      'Segoe UI Symbol';
                                    font-size: 16px;
                                    line-height: 1.5em;
                                    margin-top: 0;
                                    text-align: left;
                                  "
                                >
                                  E-posta adresini doğrulamak için aşağıdaki
                                  butona tıklayabilirsin.
                                </p>
                                <table
                                  align="center"
                                  width="100%"
                                  cellpadding="0"
                                  cellspacing="0"
                                  role="presentation"
                                  style="
                                    box-sizing: border-box;
                                    font-family: -apple-system,
                                      BlinkMacSystemFont, 'Segoe UI', Roboto,
                                      Helvetica, Arial, sans-serif,
                                      'Apple Color Emoji', 'Segoe UI Emoji',
                                      'Segoe UI Symbol';
                                    margin: 30px auto;
                                    padding: 0;
                                    text-align: center;
                                    width: 100%;
                                  "
                                >
                                  <tbody>
                                    <tr>
                                      <td
                                        align="center"
                                        style="
                                          box-sizing: border-box;
                                          font-family: -apple-system,
                                            BlinkMacSystemFont, 'Segoe UI',
                                            Roboto, Helvetica, Arial, sans-serif,
                                            'Apple Color Emoji',
                                            'Segoe UI Emoji', 'Segoe UI Symbol';
                                        "
                                      >
                                        <table
                                          width="100%"
                                          border="0"
                                          cellpadding="0"
                                          cellspacing="0"
                                          role="presentation"
                                          style="
                                            box-sizing: border-box;
                                            font-family: -apple-system,
                                              BlinkMacSystemFont, 'Segoe UI',
                                              Roboto, Helvetica, Arial,
                                              sans-serif, 'Apple Color Emoji',
                                              'Segoe UI Emoji',
                                              'Segoe UI Symbol';
                                          "
                                        >
                                          <tbody>
                                            <tr>
                                              <td
                                                align="center"
                                                style="
                                                  box-sizing: border-box;
                                                  font-family: -apple-system,
                                                    BlinkMacSystemFont,
                                                    'Segoe UI', Roboto,
                                                    Helvetica, Arial, sans-serif,
                                                    'Apple Color Emoji',
                                                    'Segoe UI Emoji',
                                                    'Segoe UI Symbol';
                                                "
                                              >
                                                <table
                                                  border="0"
                                                  cellpadding="0"
                                                  cellspacing="0"
                                                  role="presentation"
                                                  style="
                                                    box-sizing: border-box;
                                                    font-family: -apple-system,
                                                      BlinkMacSystemFont,
                                                      'Segoe UI', Roboto,
                                                      Helvetica, Arial,
                                                      sans-serif,
                                                      'Apple Color Emoji',
                                                      'Segoe UI Emoji',
                                                      'Segoe UI Symbol';
                                                  "
                                                >
                                                  <tbody>
                                                    <tr>
                                                      <td
                                                        style="
                                                          box-sizing: border-box;
                                                          font-family: -apple-system,
                                                            BlinkMacSystemFont,
                                                            'Segoe UI', Roboto,
                                                            Helvetica, Arial,
                                                            sans-serif,
                                                            'Apple Color Emoji',
                                                            'Segoe UI Emoji',
                                                            'Segoe UI Symbol';
                                                        "
                                                      >
                                                        <a
                                                          href="<%= link %>"
                                                          class="m_2929546499806747213button"
                                                          rel="noopener"
                                                          style="
                                                            box-sizing: border-box;
                                                            font-family: -apple-system,
                                                              BlinkMacSystemFont,
                                                              'Segoe UI', Roboto,
                                                              Helvetica, Arial,
                                                              sans-serif,
                                                              'Apple Color Emoji',
                                                              'Segoe UI Emoji',
                                                              'Segoe UI Symbol';
                                                            border-radius: 4px;
                                                            color: #fff;
                                                            display: inline-block;
                                                            overflow: hidden;
                                                            text-decoration: none;
                                                            background-color: #2d3748;
                                                            border-bottom: 8px
                                                              solid #2d3748;
                                                            border-left: 18px
                                                              solid #2d3748;
                                                            border-right: 18px
                                                              solid #2d3748;
                                                            border-top: 8px
                                                              solid #2d3748;
                                                          "
                                                          target="_blank"
                                                          data-saferedirecturl="https://www.google.com/url?q=https://animecix.net/secure/auth/email/verify/347394/65264f9688f81bd24a224355f78063f2cd2fa3ae?expires%3D1682107315%26signature%3Dba57e140c61c433a54bfe46cea89258250c4f4437473721a8345aa74379fcc6e&amp;source=gmail&amp;ust=1689678483232000&amp;usg=AOvVaw1vLx0t3vXt_d7QpwsyE_Fy"
                                                          >E-Posta Adresini
                                                          Doğrula</a
                                                        >
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <p
                                  style="
                                    box-sizing: border-box;
                                    font-family: -apple-system,
                                      BlinkMacSystemFont, 'Segoe UI', Roboto,
                                      Helvetica, Arial, sans-serif,
                                      'Apple Color Emoji', 'Segoe UI Emoji',
                                      'Segoe UI Symbol';
                                    font-size: 16px;
                                    line-height: 1.5em;
                                    margin-top: 0;
                                    text-align: left;
                                  "
                                >
                                  Eğer AnimeciX üzerinde bir hesap
                                  oluşturmadıysan birisi senin e-postanı
                                  AnimeciX üzerinde kullanıyor olabilir. Lütfen
                                  <a
                                    href="mailto:onmuapps@gmail.com"
                                    target="_blank"
                                    >onmuapps@gmail.com</a
                                  >
                                  e-posta adresi aracılığıyla bizimle iletişime
                                  geç ve hesabı kapatalım.
                                </p>
                                <p
                                  style="
                                    box-sizing: border-box;
                                    font-family: -apple-system,
                                      BlinkMacSystemFont, 'Segoe UI', Roboto,
                                      Helvetica, Arial, sans-serif,
                                      'Apple Color Emoji', 'Segoe UI Emoji',
                                      'Segoe UI Symbol';
                                    font-size: 16px;
                                    line-height: 1.5em;
                                    margin-top: 0;
                                    text-align: left;
                                  "
                                >
                                  En iyi dileklerimizle
                                  <img
                                    data-emoji="❤"
                                    class="an1"
                                    alt="❤"
                                    aria-label="❤"
                                    src="https://fonts.gstatic.com/s/e/notoemoji/15.0/2764/72.png"
                                    loading="lazy"
                                  />
                                  <img
                                    data-emoji="❤"
                                    class="an1"
                                    alt="❤"
                                    aria-label="❤"
                                    src="https://fonts.gstatic.com/s/e/notoemoji/15.0/2764/72.png"
                                    loading="lazy"
                                  />
                                  <img
                                    data-emoji="❤"
                                    class="an1"
                                    alt="❤"
                                    aria-label="❤"
                                    src="https://fonts.gstatic.com/s/e/notoemoji/15.0/2764/72.png"
                                    loading="lazy"
                                  />,<br />
                                  AnimeciX
                                </p>

                                <table
                                  width="100%"
                                  cellpadding="0"
                                  cellspacing="0"
                                  role="presentation"
                                  style="
                                    box-sizing: border-box;
                                    font-family: -apple-system,
                                      BlinkMacSystemFont, 'Segoe UI', Roboto,
                                      Helvetica, Arial, sans-serif,
                                      'Apple Color Emoji', 'Segoe UI Emoji',
                                      'Segoe UI Symbol';
                                    border-top: 1px solid #e8e5ef;
                                    margin-top: 25px;
                                    padding-top: 25px;
                                  "
                                >
                                  <tbody>
                                    <tr>
                                      <td
                                        style="
                                          box-sizing: border-box;
                                          font-family: -apple-system,
                                            BlinkMacSystemFont, 'Segoe UI',
                                            Roboto, Helvetica, Arial, sans-serif,
                                            'Apple Color Emoji',
                                            'Segoe UI Emoji', 'Segoe UI Symbol';
                                        "
                                      >
                                        <p
                                          style="
                                            box-sizing: border-box;
                                            font-family: -apple-system,
                                              BlinkMacSystemFont, 'Segoe UI',
                                              Roboto, Helvetica, Arial,
                                              sans-serif, 'Apple Color Emoji',
                                              'Segoe UI Emoji',
                                              'Segoe UI Symbol';
                                            line-height: 1.5em;
                                            margin-top: 0;
                                            text-align: left;
                                            font-size: 14px;
                                          "
                                        >
                                          Eğer E-Posta Adresini Doğrula butonuna
                                          tıklarken sorun yaşıyorsan aşağıdaki
                                          URL metnini kopyalayıp web tarayıcına
                                          yapıştırabilirsin.
                                          <span
                                            style="
                                              box-sizing: border-box;
                                              font-family: -apple-system,
                                                BlinkMacSystemFont, 'Segoe UI',
                                                Roboto, Helvetica, Arial,
                                                sans-serif, 'Apple Color Emoji',
                                                'Segoe UI Emoji',
                                                'Segoe UI Symbol';
                                              word-break: break-all;
                                            "
                                            ><a
                                              href="<%= link %>"
                                              style="
                                                box-sizing: border-box;
                                                font-family: -apple-system,
                                                  BlinkMacSystemFont, 'Segoe UI',
                                                  Roboto, Helvetica, Arial,
                                                  sans-serif,
                                                  'Apple Color Emoji',
                                                  'Segoe UI Emoji',
                                                  'Segoe UI Symbol';
                                                color: #3869d4;
                                              "
                                              target="_blank"
                                              data-saferedirecturl="https://www.google.com/url?q=https://animecix.net/secure/auth/email/verify/347394/65264f9688f81bd24a224355f78063f2cd2fa3ae?expires%3D1682107315%26signature%3Dba57e140c61c433a54bfe46cea89258250c4f4437473721a8345aa74379fcc6e&amp;source=gmail&amp;ust=1689678483232000&amp;usg=AOvVaw1vLx0t3vXt_d7QpwsyE_Fy"
                                              >https://animecix.net/secure/<wbr />auth/email/verify/347394/<wbr />65264f9688f81bd24a224355f78063<wbr />f2cd2fa3ae?expires=1682107315&amp;<wbr />signature=<wbr />ba57e140c61c433a54bfe46cea8925<wbr />8250c4f4437473721a8345aa74379f<wbr />cc6e</a
                                            ></span
                                          >
                                        </p>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>

                    <tr>
                      <td
                        style="
                          box-sizing: border-box;
                          font-family: -apple-system, BlinkMacSystemFont,
                            'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
                            'Apple Color Emoji', 'Segoe UI Emoji',
                            'Segoe UI Symbol';
                        "
                      >
                        <table
                          class="m_2929546499806747213footer"
                          align="center"
                          width="570"
                          cellpadding="0"
                          cellspacing="0"
                          role="presentation"
                          style="
                            box-sizing: border-box;
                            font-family: -apple-system, BlinkMacSystemFont,
                              'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
                              'Apple Color Emoji', 'Segoe UI Emoji',
                              'Segoe UI Symbol';
                            margin: 0 auto;
                            padding: 0;
                            text-align: center;
                            width: 570px;
                          "
                        >
                          <tbody>
                            <tr>
                              <td
                                align="center"
                                style="
                                  box-sizing: border-box;
                                  font-family: -apple-system, BlinkMacSystemFont,
                                    'Segoe UI', Roboto, Helvetica, Arial,
                                    sans-serif, 'Apple Color Emoji',
                                    'Segoe UI Emoji', 'Segoe UI Symbol';
                                  max-width: 100vw;
                                  padding: 32px;
                                "
                              >
                                <p
                                  style="
                                    box-sizing: border-box;
                                    font-family: -apple-system,
                                      BlinkMacSystemFont, 'Segoe UI', Roboto,
                                      Helvetica, Arial, sans-serif,
                                      'Apple Color Emoji', 'Segoe UI Emoji',
                                      'Segoe UI Symbol';
                                    line-height: 1.5em;
                                    margin-top: 0;
                                    color: #b0adc5;
                                    font-size: 12px;
                                    text-align: center;
                                  "
                                >
                                  © 2023 AnimeciX. All rights reserved.
                                </p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="yj6qo"></div>
        <div class="adL"></div>
      </div>
      <div class="adL"></div>
    </div>
  </div>
  <div id=":nf" class="ii gt" style="display: none">
    <div id=":ng" class="a3s aiL"></div>
  </div>
  <div class="hi"></div>
</div>
